<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c407b6ad84.js" crossorigin="anonymous"></script>
    <script src="../controller/script.js"></script>
    <title>PromoTchê - Cadastro</title>

</head>

<body>
    <div class= "top-menu">
        <a href= "index.html"><i class="fas fa-home"></i>  Início</a>
        <a href= "cadastro.html"><i class="fas fa-user-plus"></i>  Cadastro</a>
        <a href= "login.html"><i class="fas fa-sign-in-alt"></i>  Login</a>
    </div>

    <div class="header">
        <a href= "index.html"><img src="images/MiniPromoTche.png" alt= "logo-PromoTche"></a>
        <p>As promoções do seu bairro a um clique de distância <i class="far fa-hand-pointer"></i></p>
        <div class="col-12 col-s-12">
            <div class= "divisoria"></div>
        </div>

    </div>

    <div class= "formulario">
        <form name= "checkSignUp">
            <h1 class= "alignLeft h1">Cadastro</h1>
            <p class= "alignLeft">Insira seus dados abaixo para receber novidades da PromoTchê no seu e-mail! </p>
            <p class= "alignLeft">Já é cadastrada(o)? Faça o <a href= "login.html">login aqui!</a> </p>

            <label class="label" for="nome">Nome</label><br>
            <input class="input" type="text" id="nome" name="nome" maxlength= "100" placeholder= "Digite seu nome" autofocus><br><br>
            <label class="label" for="sobrenome">Sobrenome</label><br>
            <input class="input" type="text" id="sobrenome" name="sobrenome" maxlength= "100" placeholder= "Digite seu sobrenome"><br><br>
            <label class="label" for="email">E-mail</label><br>
            <input class="input" type="email" id="email" name="email" maxlength= "100" placeholder= "Digite seu e-mail"><br><br>
            <label class="label" for="password1">Senha</label><br>
            <input class="input" type="password" id="password1" name="password1" maxlength= "100" placeholder= "Digite uma senha"><br><br>
            <label class="label" for="password2">Confirmação de Senha</label><br>
            <input class="input" type="password" id="password2" name="password2" maxlength= "100" placeholder= "Confirme sua senha"><br><br>

            <h2 class= "alignLeft">Newsletter</h2>
            <p class= "alignLeft"><input type="checkbox" name="newsletter" value="1">Sim, eu gostaria de receber a <i>newsletter</i> da PromoTchê.</p>
            <button type="submit" name="submit" onclick="validarCadastro()">Enviar</button>
        </form>
    </div>

    <div class="footer">
        <p>PromoTchê - Todos os direitos reservados©<br>Desde março/2020</p>
    </div>

</<body>
</html>
