<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c407b6ad84.js" crossorigin="anonymous"></script>
    <title>PromoTchê - Início</title>

</head>

<body>
    <!-- Menu do topo -->
    <div class= "top-menu">
        <a href= "index.html"><i class="fas fa-home"></i>  Início</a>
        <a href= "cadastro.html"><i class="fas fa-user-plus"></i>  Cadastro</a>
        <a href= "login.html"><i class="fas fa-sign-in-alt"></i>  Login</a>
    </div>

    <!-- Cabecalho -->
    <div class="header">
        <a href= "index.html"><img src="images/MiniPromoTche.png" alt= "logo-PromoTche"></a>
        <p>As promoções do seu bairro a um clique de distância <i class="far fa-hand-pointer"></i></p>
        <div class="col-12 col-s-12">
        <div class= "divisoria"></div>
        </div>
    </div>

    <!-- Menu de navegaçao -->
    <div class="row">
        <div class="col-12 col-s-12 menu2">
            <a href= "calcados.html">Calçados</a>
            <a href= "bairrosEmCons.html">Farmácia</a>
            <a href= "bairrosEmCons.html">Moda</a>
            <a href= "bairrosEmCons.html">Mercado</a>
            <a href= "bairrosEmCons.html">Padaria</a>
        </div>
    </div>

    <!-- Slider -->
    <img id="image" src="images/banner1.png">

    <div id= "slider">
        <button class= "slider" value= "change1" onclick= "change1()">1</button>

        <button class= "slider" value= "change2" onclick= "change2()">2</button>

        <button class= "slider" value= "change3" onclick= "change3()">3</button>
    </div>

    <!-- Rodape -->
    <div class="footer">
        <p>PromoTchê - Todos os direitos reservados©<br>Desde março/2020</p>
    </div>
    <script type="text/javascript" src="../controller/script.js"></script>

</<body>
</html>
